<%= form_for(@curve) do |f| %>
  <% if @curve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curve.errors.count, "error") %> prohibited this curve from being saved:</h2>

      <ul>
      <% @curve.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :market %><br />
    <%= f.text_field :market %>
  </div>
  <div class="field">
    <%= f.label :commodity %><br />
    <%= f.text_field :commodity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
