<table cellpadding="6" cellspacing="2">          
       
  <tr>
    <td valign='top'><b>counterparty</b></td>
    <td><%= @trade.counterparty %></td>
  </tr>
  <tr>
    <td valign='top'><b>trader</b></td>
    <td><%= @trade.trader %></td>
  </tr>
  <tr>
    <td valign='top'><b><div title="mtm_curve">price_curve_type<div></b></td>
    <td><%= @trade.mtm_curve %></td>
  </tr>
  <tr>
    <td valign='top'><b>buy_sell</b></td>
    <td><%= @trade.buy_sell %></td>
  </tr>
  <tr>
    <td valign='top'><b>price</b></td>
    <td><%= @trade.book_price %></td>
  </tr>
  <tr>
    <td valign='top'><b>volume</b></td>
    <td><%= @trade.volume %></td>
  </tr>
  <tr>
    <td valign='top'><b>market_price</b></td>
    <td>
      <% market_price = 0 %>
      <% @price.each do |p| %>
        <% market_price = p.settle %>
        <%= market_price %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td valign='top'><b>mark_to_market_value</b></td>
    <td>
      <% mtm_value = @trade.volume * (@trade.book_price - market_price) %>
      <%= mtm_value %>
    </td>
  </tr>  
  <tr>
    <td valign='top'><b>tenor_start</b></td>
    <td><%= @trade.tenor_start %></td>
  </tr>
  <tr>
    <td valign='top'><b>tenor_end</b></td>
    <td><%= @trade.tenor_end %></td>
  </tr>
  <tr>
    <td valign='top'><b>delivery_location</b></td>
    <td><%= @trade.delivery_location %></td>
  </tr>
  <tr>
    <td valign='top'><b>instrument</b></td>
    <td><%= @trade.instrument %></td>
  </tr>
  <tr>
    <td valign='top'><b>brokerage</b></td>
    <td><%= @trade.brokerage %></td>
  </tr>
  <tr>
    <td valign='top'><b>tags</b></td>
    <td><%= @trade.tags %></td>
  </tr>
  <tr>
    <td valign='top'><b>notes</b></td>
    <td><%= @trade.notes %></td>
  </tr>                      
</table>  

