<p id="notice"><%= notice %></p>

<p>
  <b>Curve:</b>
  <%= @price.curve_id %>
</p>

<p>
  <b>Month:</b>
  <%= @price.month_id %>
</p>

<p>
  <b>Settle:</b>
  <%= @price.settle %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
