<% provide(:title, 'Trades') %>
<h1>Trades</h1>
<table id="trades">                         
  <tr>
    <th></th>                          
    <th>counterparty</th>
    <th>trader</th>
    <th><div title="mtm_curve">price_curve_type<div></th>
    <th>buy_sell</th>
    <th>price</th>
    <th>volume</th>
    <th>tenor_start</th>
    <th>tenor_end</th>
    <th>delivery_location</th>
    <th>instrument</th>
    <th>brokerage</th>
    <th>tags</th>
    <th>notes</th>
  </tr>
    
  <% @trades.each do |trade| %>       
    <tr>
      <td><%= link_to 'Show', trade %></td>
      <td><%= trade.counterparty %></td> 
      <td><%= trade.trader %></td>
      <td><%= trade.mtm_curve %></td>
      <td><%= trade.buy_sell %></td>
      <td><%= trade.price %></td>
      <td><%= trade.volume %></td>
      <td><%= trade.tenor_start %></td>
      <td><%= trade.tenor_end %></td>
      <td><%= trade.delivery_location %></td>
      <td><%= trade.instrument %></td>
      <td><%= trade.brokerage %></td>
      <td><%= trade.tags %></td>
      <td><%= trade.notes %></td> 
    </tr>
  <% end %>                       
</table>  

<h2>Import Trades</h2>
<%= form_tag import_trades_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>