<% provide(:title, 'Trades') %>
<h1>Trades</h1>
<table id="trades">                         
  <tr>
    <th></th>                          
    <th>counterparty</th>
    <th>trader</th>
    <th><div title="mtm_curve">price_curve_type<div></th>
    <th>buy_sell</th>
    <th>price</th>
    <th>volume</th>
    <th>market_price</th>
    <th>mark_to_market_value</th>
    <th>tenor_start</th>
    <th>tenor_end</th>
    <th>delivery_location</th>
    <th>instrument</th>
    <th>brokerage</th>
    <th>tags</th>
    <th>notes</th>
  </tr>
  <% mtm_total = 0 %>  
  <% @trades.each do |trade| %>       
    <tr>
      <td><%= link_to 'Show', trade %></td>
      <td><%= trade.counterparty %></td> 
      <td><%= trade.trader %></td>
      <td><%= trade.mtm_curve %></td>
      <td><%= trade.buy_sell %></td>
      <td><%= trade.price %></td>
      <td><%= trade.volume %></td>
      <td>
        <% market_price = 0 %>
        <% price_record = Price.where('curve_id = ? AND month_id = ?', trade.curve_id, trade.month_id).all %>
        <% price_record.each do |p| %>
          <% market_price = p.settle %>
          <%= market_price %>
        <% end %>
      </td>
      <!-- Display the trade's Mark-to-Market value, as described by the formula volume * (price - market_price) -->
      <td>
        <% mtm_value = trade.volume * (trade.price - market_price) %>
        <%= mtm_value %>
        <% mtm_total += mtm_value %>
      </td>
      <td><%= trade.tenor_start %></td>
      <td><%= trade.tenor_end %></td>
      <td><%= trade.delivery_location %></td>
      <td><%= trade.instrument %></td>
      <td><%= trade.brokerage %></td>
      <td><%= trade.tags %></td>
      <td><%= trade.notes %></td> 
    </tr>
  <% end %>                       
</table>

<div>
  <h4><%= "Portfolio mark to market value: #{mtm_total}" %></h4>
</div>  

<h2>Import Trades</h2>
<%= form_tag import_trades_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>